.theNAV
{
  opacity: 0.75;
}
.theNavContainer
{
    display: flex;
    width: 100%;
}
/* 標誌 */
#theName, #theNavLink, #JobMenu
{
    margin-right: 4%;
}
.imgLink
{
  width: 6%;
}
#LOGO{
  position: relative;
    width:75%;
    order: 1;
}
/* 品牌名稱 */
#theName{
  position: relative;
  bottom: 0;
    color: #2b8ccc;
    order: 2;
    text-wrap: nowrap;
    text-decoration: none;
    margin-top: 6px;
}
#theNavLink
{
    font-size: 1.2rem;
    order: 3;
    text-wrap: nowrap;
}
#JobMenu 
{
    order: 4;
}
.JobItem
{
    font-size: 1.5rem;
    color: #f7fafc;
    background-color: #2b2825;
}

#theNavItemRegister
{
    border: 1px #000 solid;
    order: 6;
    margin: auto 1% auto auto;
}
.theCollapse
{
    position: absolute;
    right: 0;
}
.theMap
{opacity: 0.8;}
span
{
  box-sizing: border-box;
}
.theLinkItem:hover
{
  color: #f7fafc;
  background-color: #000;
  border-radius: 10px;
}
.FullScreenB
{
  order: 5;
  border-radius: 15px;
  z-index: 3;
  position: absolute;
  bottom: 5%;
  right: 1%;
}
.FullScreenB:hover
{
  color: #f7fafc;
  background-color: #000;
}
.theMap
{
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
}
/* 圖片與圖片連結在地圖上的位子*/
.Icontainer, .links
{
  position: absolute;
  z-index: 2;
}
/* 教堂 */
.image-container1, .links1
{
  left: 17.5%;
  top: 26.5%;
  width: 10%;
  height: 25%;
}

/* 學校 */
.image-container2, .links2
{
  left: 31.8%;
  top: 31.2%;
  width: 15%;
  height: 20%;
}

/* 醫院 */
.image-container3, .links3
{
  left: 51.6%;
  top: 25%;
  width: 10%;
  height: 16.7%;
}

/* 百貨公司 */
.image-container4, .links4
{
  left: 41.7%;
  top: 22%;
  width: 11%;
  height: 18.5%;
}

/* 音樂廳 */
.image-container5, .links5
{
  left: 37.5%;
  top: 50%;
  width: 13.5%;
  height: 19.5%;
}

/* 餐廳 */
.image-container6, .links6
{
  left: 35.9%;
  top: 65%;
  width: 8%;
  height: 14%;
}
.links6{
  margin-left: 1rem;
  top: 2rem;
}

/* 警察局 */
.image-container7, .links7
{
  left: 59%;
  top: 42.5%;
  width: 9%;
  height: 14%;
}

/* 機場 */
.image-container8, .links8
{
  left: 68.6%;
  top: 69.7%;
  width: 18.6%;
  height: 21%;
}
.links8
{
  top: 2rem;
}

/* 電視台 */
.image-container9, .links9
{
  left: 18.15%;
  top: 55.6%;
  width: 19%;
  height: 32.5%;
}
.link9
{
  position: relative;
  top: -2rem;
  margin-left: 2rem;
}

/* 初始圖片大小 */
.zoomable-image
{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
/* 圖片被滑入後的大小 */
.Icontainer:hover
{
  transform: scale(1.5);
  z-index: 100;
  transition: transform 0.5s ease-in-out;
}

/* 圖片連結 */
.links {
  display: none;
}
.image-container1:hover .links,
.image-container2:hover .links,
.image-container3:hover .links,
.image-container4:hover .links,
.image-container5:hover .links,
.image-container6:hover .links,
.image-container7:hover .links,
.image-container8:hover .links,
.image-container9:hover .links
{
  display: block;
  left: 0;
}
.link{
  text-decoration: none;
  text-wrap: nowrap;
  font-size: 1rem;
  color: #f7fafc;
  background-color: #000;
}
/* 縮小後的設定 */
@media (max-width: 1200px) {
  .navbar-expand-size1 #LOGO{
    width: 10%;
  }
  .navbar-expand-size1 #theName{
      display: none;
  }
  .navbar-expand-size1 #theNavLink
  {
    width: 30%;
  }
  .navbar-expand-size1 #JobMenu{
    position: absolute;
    top: 5%;
    left: 15%;
  }
  .navbar-expand-size1 #theNavItemRegister{
    position: absolute;
    top: 50%;
    left: 32%;
  }
}
/* 放大後的設定 */
@media (min-width: 1200px) {

    .navbar-expand-size1 {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-size1 .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-size1 .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-size1 .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
 
    }
    .navbar-expand-size1 .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-size1 .navbar-collapse {
      display :flex;
      flex-basis:auto;
    }
    .navbar-expand-size1 .navbar-toggler {
      display: none;
    }
    .navbar-expand-size1 .offcanvas {
      position: absolute;
      z-index: auto;
      flex-grow: 1;
      width: auto ;
      height: auto ;
      visibility: visible ;
      background-color: transparent ;
      border: 0 ;
      transform: none ;
      transition: none;
    }
    .navbar-expand-size1 .offcanvas .offcanvas-header {
      display: none;
    }
    .navbar-expand-size1 .offcanvas .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  } 