/* 標誌跟品牌名稱 */
.LOGO{
    width:3%;
    margin: 10px;
}
/* 品牌名稱 */
.theName{
    color: #2b8ccc;
    margin: 5px;
}
.theNavItem{
    margin: auto 0 auto 5%;
}

.JobItem
{
    font-size: 1.5rem;
    color: #f7fafc;
    background-color: #2b2825;
}

.theNavItemRegister
{
    margin: auto 0 auto 15%;
    border: 1px #000 solid;
}
.theNavLink
{
    width: 120px;
    font-size: 1.2rem;
}
.theMap
{
    width: 100%;
    height: 100%;
}