.theNAV
{
  opacity: 0.75;
}
.theNavContainer
{
    display: flex;
    width: 100%;
}
/* 標誌 */
#theName, #theNavLink, #JobMenu
{
    margin-right: 4%;
}
#LOGO{
    width:3%;
    order: 1;
    margin: 1%;
}
/* 品牌名稱 */
#theName{
    color: #2b8ccc;
    order: 2;
}
#theNavLink
{
    font-size: 1.2rem;
    order: 3;
}
#JobMenu 
{
    order: 4;
}
.JobItem
{
    font-size: 1.5rem;
    color: #f7fafc;
    background-color: #2b2825;
}

#theNavItemRegister
{
    border: 1px #000 solid;
    order: 6;
    margin: auto 1% auto auto;
}
.theCollapse
{
    position: absolute;
    right: 0;
}
span
{
  box-sizing: border-box;
}
.FullScreenB
{
  order: 5;
}
.theMap
{
  position: absolute;
  width: 100%;
  height:100%;
  z-index: 1;
}
/* 圖片與圖片連結在地圖上的位子*/
.Icontainer, .links
{
  position: absolute;
  z-index: 2;
}
/* 教堂 */
.image-container1, .links1
{
  left: 18%;
  top: 38%;
}
/* 學校 */
.image-container2, .links2
{
  left: 35%;
  top: 35%;
}
/* 醫院 */
.image-container3, .links3
{
  left: 52%;
  top: 30%;
}
/* 百貨公司 */
.image-container4, .links4
{
  left: 42%;
  top: 25%;
}
/* 音樂廳 */
.image-container5, .links5
{
  left: 38%;
  top: 53%;
}
/* 餐廳 */
.image-container6, .links6
{
  left: 35%;
  top: 67%;
}
/* 警察局 */
.image-container7, .links7
{
  left: 58%;
  top: 42%;
}
/* 機場 */
.image-container8, .links8
{
  left: 75%;
  top: 70%;
}
/* 電視台 */
.image-container9, .links9
{
  left: 25%;
  top: 65%;
}
/* 初始圖片大小 */
.zoomable-image
{
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}
/* 圖片被滑入後的大小 */
.Icontainer:hover
{
  transform: scale(1.5);
  z-index: 100;
  transition: transform 0.5s ease-in-out;
}
.Icontainer
{
  width: 10%;
  height: 10%;
}
/* 圖片連結 */
.links {
  display: none;
}
.image-container1:hover .links,
.image-container2:hover .links,
.image-container3:hover .links,
.image-container4:hover .links,
.image-container5:hover .links,
.image-container6:hover .links,
.image-container7:hover .links,
.image-container8:hover .links,
.image-container9:hover .links
{
  display: block;
  left: 0;
}
.link{
  text-decoration: none;
  text-wrap: nowrap;
  font-size: 1rem;
}
.link1{
  position: absolute;
  top: 10px;
  left: 10px;
}


@media (min-width: 1200px) {

    .navbar-expand-size1 {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
    .navbar-expand-size1 .navbar-nav {
      flex-direction: row;
    }
    .navbar-expand-size1 .navbar-nav .dropdown-menu {
      position: absolute;
    }
    .navbar-expand-size1 .navbar-nav .nav-link {
      padding-right: var(--bs-navbar-nav-link-padding-x);
      padding-left: var(--bs-navbar-nav-link-padding-x);
 
    }
    .navbar-expand-size1 .navbar-nav-scroll {
      overflow: visible;
    }
    .navbar-expand-size1 .navbar-collapse {
      display: flex;
      flex-basis: auto;
    }
    .navbar-expand-size1 .navbar-toggler {
      display: none;
    }
    .navbar-expand-size1 .offcanvas {
      position: absolute;
      z-index: auto;
      flex-grow: 1;
      width: auto ;
      height: auto ;
      visibility: visible ;
      background-color: transparent ;
      border: 0 ;
      transform: none ;
      transition: none;
    }
    .navbar-expand-size1 .offcanvas .offcanvas-header {
      display: none;
    }
    .navbar-expand-size1 .offcanvas .offcanvas-body {
      display: flex;
      flex-grow: 0;
      padding: 0;
      overflow-y: visible;
    }
  } 